h1 {
    text-align: center;
}

span {
    text-decoration: underline;
    color: blue;
}

* {
    font-family: "Courier New";
}

#news {
    background-color: orange;
}

#latestnews {
    background-color: orange;
    color: white;
}

h4 {
    text-align: center;
    font-family: Georgia;
}

a {
    color: brown;
    text-decoration: none;
}

a:hover {
    background-color: burlywood;
    font-family: "Times New Roman", Times, serif;
    font-size: large;
}
