{% load static %} {% include "header.html" %}

<body>
  <link rel="stylesheet" href="{% static 'css/about.css' %}" />
  <main>
    <section>
      <h2>About the Project</h2>
      <p>
        Welcome to the JoSAA Data Analysis Portal, an interactive platform
        designed to provide comprehensive insights and visualisations of the
        seat allotment statistics from the Joint Seat Allocation Authority
        (JoSAA) up to the year 2023. This portal serves as a valuable resource
        for students, educators, and researchers who wish to analyse historical
        seat allotment data and uncover meaningful trends and patterns.
      </p>
    </section>
    <section>
      <h2>Project Overview</h2>
      <p>
        The primary aim of this project is to facilitate a detailed exploration
        and analysis of JoSAA seat allotment data spanning from 2016 to 2023. By
        leveraging advanced data cleaning, analysis, and visualisation
        techniques, the portal offers users an intuitive interface to examine
        various aspects of seat allotment trends over the years.
      </p>
    </section>
    <section>
      <h2>Key Features</h2>
      <ul>
        <li>
          <strong>Data Cleaning and Analysis</strong>: The portal performs
          thorough data cleaning and exploratory data analysis (EDA) on the raw
          JoSAA data. This ensures the accuracy and reliability of the insights
          derived.
        </li>
        <br>
        <li>
          <strong>Database Integration</strong>: A SQLite database is created
          from the cleaned data, enabling efficient storage and retrieval of
          information through well-structured queries.
        </li><br>
        <li>
          <strong>Interactive Visualisations</strong>: The website features a
          range of interactive charts and tables powered by Chart.js. These
          visualisations help users to easily grasp complex trends and patterns
          in the data.
        </li>
      </ul>
    </section>
    <section>
      <h2>Technology Stack</h2>
      <p>
        The portal is built using a robust and versatile tech stack, including:
      </p>
      <ul>
        <li>
          <strong>Frontend</strong>: HTML, CSS, and JavaScript for a responsive
          and user-friendly interface.
        </li><br>
        <li>
          <strong>Backend</strong>: Django and SQLite for efficient data
          management and server-side processing.
        </li><br>
        <li>
          <strong>Data Scraping</strong>: Selenium for automated data extraction
          from various sources.
        </li><br>
        <li>
          <strong>Data Cleaning</strong>: NumPy and Pandas for meticulous data
          cleaning and transformation.
        </li><br>
        <li>
          <strong>Visualisation</strong>: Chart.js for creating dynamic and
          engaging data visualisations.
        </li>
      </ul>
    </section>
    <section>
      <h2>Insights and Analysis</h2>
      <p>The portal offers several sections for in-depth data analysis:</p>
      <ul>
        <li>
          <strong>Round-wise Trends:</strong> Check the opening and closing
          ranks for all six rounds for a particular year.
        </li><br>
        <li>
          <strong>Year-wise Trends:</strong> Examine the opening and closing
          ranks from 2016-2023 for a specific round.
        </li><br>
        <li>
          <strong>Top 20 Courses:</strong> Discover the top 20 courses suitable
          for you based on your achieved rank.
        </li><br>
        <li>
          <strong>Course Comparison:</strong> Compare two courses from the same
          or different colleges and assess their popularity.
        </li><br>
        <li>
          <strong>Best College:</strong> Identify the best colleges based on
          their popularity for a particular course.
        </li><br>
        <li>
          <strong>Category-wise Analysis:</strong> Analyse the category-wise
          differences between opening and closing ranks.
        </li>
      </ul>
    </section>
    <section>
        <h2>Acknowledgements</h2>
        <p>The project utilises several open-source libraries and frameworks, including Django, Selenium, Pandas, NumPy, and Chart.js. We extend our heartfelt thanks to the developers of these tools for their invaluable contributions to the open-source community.</p>
        <p>We thank Coding Club, IIT Guwahati for alloting this summer project and guiding us throughout the implementation.</p>
    </section>
  </main>

  <section>
    <div id="message">
      <div class="thank-you">
        <p>Thank you for visiting the JoSAA Data Analysis Portal.</p>
      </div>
      <div class="hope">
        <p>
          We hope you find this resource insightful and useful in your academic
          and research endeavours.
        </p>
      </div>
    </div>
  </section>
</body>

{% include "footer.html" %}
