{% load static %} {% include "header.html" %}

<script>
  function showGenderDropdown(CategoryDropdown) {
    const category = CategoryDropdown.value;
    var GenderDropdown = document.getElementById("Gender");
    var disp = document.getElementById("GenderDropdown");
    if (CategoryDropdown.value !== "") {
      disp.style.display = "inline-block";
    } else {
      disp.style.display = "none";
    }
    GenderDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Gender";
    option.style.fontSize = "25px";
    Gender.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-only-Categorywise-Gender/?category=${category}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Gender'];
                option.text = responseData[i]['Gender'];
                option.style.fontSize = '10px';
                GenderDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}
function showRankDropdown(select) {
    const rankDropdown = document.getElementById('RankDropdown');
    const rankInput = document.getElementById('Rank');
    
    if (select.value === 'JEE-Main') {
        rankDropdown.style.display = 'block';
        rankInput.placeholder = 'Enter JEE Main rank';
    } else if (select.value === 'JEE-Advance') {
        rankDropdown.style.display = 'block';
        rankInput.placeholder = 'Enter JEE Advanced rank';
    } else {
        rankDropdown.style.display = 'none';
    }
}
</script>

<body style="background-color: #dcf2f1">
  <link rel="stylesheet" href="{% static 'css/innerpage.css' %}">
  <div id="heading">
    <h1>
      Feed your rank and get top 20 course recommendations for you, based on
      last year's trend!
    </h1> </div>
    <div id="best_course">
      <div class="rectangle" id="CategoryDropdown">
        <label for="Category">Category</label>
        <br />
        <select
          id="Category"
          name="Category"
          class="dropdown"
          onchange="showGenderDropdown(this)"
        >
          <option value="">Select Category</option>
          <option value="OPEN">OPEN</option>
          <option value="OBC-NCL">OBC-NCL</option>
          <option value="SC">SC</option>
          <option value="ST">ST</option>
          <option value="OPEN (PwD)">OPEN (PwD)</option>
          <option value="OBC-NCL (PwD)">OBC-NCL (PwD)</option>
          <option value="SC (PwD)">SC (PwD)</option>
          <option value="ST (PwD)">ST (PwD)</option>
          <option value="EWS">EWS</option>
          <option value="EWS (PwD)">EWS (PwD)</option>
        </select>
      </div>
      <div class="rectangle" id="GenderDropdown">
          <label for="Gender">Gender</label>
          <br>
          <select id="Gender" name="Gender" class="dropdown">
              <option value="">Select an option</option>
          </select>
      </div>
      <div class="rectangle" id="ExamTypeDropdown">
          <label for="ExamType">Exam Type</label>
          <br>
          <select id="ExamType" name="ExamType" class="dropdown" onchange="showRankDropdown(this)">
              <option value="">Select Exam Type</option>
              <option value='JEE-Main'>JEE Main</option>
              <option value='JEE-Advance'>JEE Advanced</option>
          </select>
      </div>
      <div class="rectangle" id="RankDropdown">
        <label for="Rank">Rank</label>
        <input
          type="number"
          id="Rank"
          name="Rank"
          class="dropdown"
          placeholder="Enter your rank"
          required
        />
        <button id="submitButton" type="submit">Submit</button>
        <br />
      </div>
    </div>
  

  <div id="institute_table"></div>
  <div id="message" class="message"></div>
  <script>
    const Category = document.getElementById("Category");
    const Gender = document.getElementById("Gender");
    const ExamType = document.getElementById("ExamType");
    const Rank = document.getElementById("Rank");

    document
      .getElementById("submitButton")
      .addEventListener("click", function () {
        const category = Category.value;
        const gender = Gender.value;
        const examtype = ExamType.value;
        const rank = Rank.value;

        update(category, gender,examtype, rank);
      });

    function update(category, gender,examtype, rank) {
      const xhr = new XMLHttpRequest();
      const url = `/get-Bestcourse-Table/?category=${category}&gender=${gender}&examtype=${examtype}&rank=${rank}`;
      xhr.open("GET", url, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
          const responseData = JSON.parse(xhr.responseText);
          renderdata(responseData);
        }
      };
      xhr.send();
    }
    function renderdata(data) {
      var institute_table = document.getElementById("institute_table");
      const message = document.getElementById("message");

      // Clear the container and message
      institute_table.innerHTML = "";
      message.textContent = "";

      if (data.message || data.length === 0) {
        // If data contains a 'message' field or is an empty array, show "No data found"
        message.textContent = data.message || "No data found";
      } else {
        // Create and display the table
        var table = document.createElement("table");
        table.classList.add("result-table");

        var serialNumber = 1;

        // Create table header
        var thead = document.createElement("thead");
        var headerRow = document.createElement("tr");
        var headerCells = [
          "S.No",
          "Institute",
          "Programme Name",
          "Course",
          "Opening Rank",
          "Closing Rank",
        ];
        headerCells.forEach((cellText) => {
          var headerCell = document.createElement("th");
          headerCell.textContent = cellText;
          headerRow.appendChild(headerCell);
        });
        thead.appendChild(headerRow);
        table.appendChild(thead);

        // Create table body
        var tbody = document.createElement("tbody");
        data.forEach((item) => {
          var row = document.createElement("tr");

          // Add a cell for the serial number
          var serialCell = document.createElement("td");
          serialCell.textContent = serialNumber;
          row.appendChild(serialCell);

          var cells = [
            item.Institute,
            item.Programme,
            item.Course,
            item.Opening_Rank,
            item.Closing_Rank,
          ];
          cells.forEach((cellText) => {
            var cell = document.createElement("td");
            cell.textContent = cellText;
            row.appendChild(cell);
          });

          // Increment the serial number for the next row
          serialNumber++;

          // Append the row to the table body
          tbody.appendChild(row);
        });
        // Append the table body to the table
        table.appendChild(tbody);

        // Append the table to the container element
        institute_table.appendChild(table);
      }
    }
  </script>
  <div>
    <canvas id="myChart" width="300" height="330"></canvas>
  </div>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js"
    integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script
    type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"
  ></script>
</body>

{% include "footer.html" %}
