{% load static %}
{% include "header.html" %}   

<script>
function showInstituteNameDropdown(InsTypedropdown) {
    const instype = InsTypedropdown.value;
    var InstituteNameDropdown = document.getElementById("InstituteName");
    var disp = document.getElementById("InstituteNameDropdown");
    if (InsTypedropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    InstituteNameDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Institute Name";
    option.style.fontSize = '25px';
    InstituteName.appendChild(option);
      const xhr = new XMLHttpRequest();
      const url = `/get-InstTypewise-Instname/?instype=${instype}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Institute'];
                option.text = responseData[i]['Institute'];
                option.style.fontSize = '20px';
                InstituteNameDropdown.appendChild(option);
              }   
          }
      };
      xhr.send();
}
function showProgramnameDropdown(InsNamedropdown) {
    const institute = InsNamedropdown.value;
    var ProgrammeNameDropdown = document.getElementById("ProgrammeName");
    var disp = document.getElementById("ProgrammeNameDropdown");
    if (InsNamedropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    ProgrammeNameDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Programme Name";
    option.style.fontSize = '25px';
    ProgrammeName.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-InstNameWise-ProgrammeName/?institute=${institute}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Programme'];
                option.text = responseData[i]['Programme'];
                option.style.fontSize = '10px';
                ProgrammeNameDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}
function showCourseDropdown(Programmedropdown) {
    const programme = Programmedropdown.value;
    const Institute = document.getElementById('InstituteName');
    const institute = Institute.value;
    var CourseDropdown = document.getElementById("Course");
    var disp = document.getElementById("CourseDropdown");
    if (Programmedropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    CourseDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Course";
    option.style.fontSize = '25px';
    Course.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-Programmewise-Course/?programme=${programme}&institute=${institute}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Course'];
                option.text = responseData[i]['Course'];
                option.style.fontSize = '10px';
                CourseDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}
function showGenderDropdown(CourseDropdown) {
    const course = CourseDropdown.value;
    const Institute = document.getElementById('InstituteName');
    const Programme = document.getElementById('ProgrammeName');
    const institute = Institute.value;
    const programme = Programme.value;
    var GenderDropdown = document.getElementById("Gender");
    var disp = document.getElementById("GenderDropdown");
    if (CourseDropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    GenderDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Gender";
    option.style.fontSize = '25px';
    Gender.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-Coursewise-Gender/?course=${course}&programme=${programme}&institute=${institute}`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Gender'];
                option.text = responseData[i]['Gender'];
                option.style.fontSize = '10px';
                GenderDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}
function showRoundDropdown(GenderDropdown) {
    var RoundDropdown = document.getElementById("Round");
    var disp = document.getElementById("RoundDropdown");
    if (GenderDropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    RoundDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Round";
    option.style.fontSize = '25px';
    Round.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-RoundDropdown/`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
          if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
              const responseData = JSON.parse(xhr.responseText);
              
              for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Round'];
                option.text = responseData[i]['Round'];
                option.style.fontSize = '10px';
                RoundDropdown.appendChild(option);
              }
              
              
          }
      };
      xhr.send();
}
function showYearDropdown(GenderDropdown) {
    var YearDropdown = document.getElementById("Year");
    var disp = document.getElementById("YearDropdown");
    if (GenderDropdown.value !== "") {
        disp.style.display = "inline-block";
    } else {
        disp.style.display = "none";
    }
    YearDropdown.innerHTML = "";
    var option = document.createElement("option");
    option.value = "";
    option.text = "Select Year";
    option.style.fontSize = '25px';
    Year.appendChild(option);
    
      const xhr = new XMLHttpRequest();
      const url = `/get-YearDropdown/`;
      xhr.open('GET', url, true);
      xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
            const responseData = JSON.parse(xhr.responseText);
            
            for (var i = 0; i < responseData.length; i++) {
                var option = document.createElement("option");
                option.value = responseData[i]['Year'];
                option.text = responseData[i]['Year'];
                option.style.fontSize = '10px';
                YearDropdown.appendChild(option);
            }  
        }
      };
      xhr.send();
}
function showCategoryDropdown(YearDropdown) {
    
    var CategoryDropdown = document.getElementById("CategoryDropdown");

    if (YearDropdown.value !== "") {
        CategoryDropdown.style.display = "inline-block";
    } else {
        CategoryDropdown.style.display = "none";
    }
}
</script>
<body>
    <link rel="stylesheet" href="{% static 'css/innerpage.css' %}">
    <div id="yearwise"><h4>Predict categorywise opening and closing rank!</h4>
        <div class="inner" id="InsTypeDropdown" >
            <label for="InstituteType" class="lhs">Institute Type: </label>
            <select name="InstituteType" id="InstituteType" class="dropdown" onchange="showInstituteNameDropdown(this)">
                <option value="">Select an institute type</option>
                <option value="IIT">IIT</option>
                <option value="NIT">NIT</option>
                <option value="IIIT">IIIT</option>
                <option value="Government">Government Institute</option>
            </select>
        </div>
        <div class="inner" id="InstituteNameDropdown" style="display: none;">
            <label for="InstituteName" class="lhs">Institute Name: </label>
            <select id="InstituteName" name="InstituteName" class="dropdown" onchange="showProgramnameDropdown(this)">
                <option>Select an Option</option>
            </select>
        </div>
        <div class="inner" id="ProgrammeNameDropdown" style="display: none;">
            <label for="ProgrammeName" class="lhs">Program Name: </label>
            <select id="ProgrammeName" name="ProgrammeName" class="dropdown" onchange="showCourseDropdown(this)">
                <option>Select an Option</option>
            </select>
        </div>
        <div class="inner" id="CourseDropdown" style="display: none;">
            <label for="Course" class="lhs">Course: </label>
            <select id="Course" name="Course" class="dropdown" onchange="showGenderDropdown(this)" >
                <option>Select an Option</option>
            </select>
        </div>
        <div class="inner" id="GenderDropdown" style="display: none;">
            <label for="Gender" class="lhs">Gender: </label>
            <select id="Gender" name="Gender" class="dropdown" onchange="showRoundDropdown(this)" >
                <option>Select an Option</option>
            </select>
        </div>
        <div class="inner" id="RoundDropdown" style="display: none;">
            <label for="Round" class="lhs">Round: </label>
            <select id="Round" name="Round" class="dropdown" onchange="showYearDropdown(this)" >
                <option>Select an Option</option>
            </select>
        </div>
        <div class="inner" id="YearDropdown" style="display: none;">
            <label for="Year" class="lhs">Year: </label>
            <select id="Year" name="Year" class="dropdown" onchange="showCategoryDropdown(this)" >
                <option>Select an Option</option>
            </select>
        </div>
        <div class="inner" id="CategoryDropdown" style="display: none;">
            <label for="Category" class="lhs">Category: </label>
            <select name="Category" id="Category" class="dropdown">
                <option value="">Select Category</option>
                <option value="PwD">PwD</option>
                <option value="NOT PwD">NOT PwD</option>
            </select>
        </div>
    </div>

        <script>
            let graphChart = null;
            
            const Institute = document.getElementById('InstituteName');
            const Programme = document.getElementById('ProgrammeName');
            const Course = document.getElementById('Course');
            const Gender = document.getElementById('Gender');
            const Round = document.getElementById('Round');
            const Year = document.getElementById('Year');
            const Category = document.getElementById('Category');

            Category.addEventListener('change',selection);
            
            function selection() {
            
                const institute = Institute.value;
                const programme = Programme.value;
                const course = Course.value;
                const gender = Gender.value;
                const round = Round.value;
                const year = Year.value;
                const category = Category.value;
                
                updateGraph(institute,programme,course,gender,round,year,category)
            };
            
            function updateGraph(institute,programme,course,gender,round,year,category) {
                const xhr = new XMLHttpRequest();
                const url = `/get-graph-CategoryWise/?institute=${institute}&programme=${programme}&course=${course}&gender=${gender}&round=${round}&year=${year}&category=${category}`;
                xhr.open('GET', url, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        const responseData = JSON.parse(xhr.responseText);
                        renderGraph(responseData);
                    }
                };
                xhr.send();
            }
            
            function renderGraph(data) {

                const labels = ["OPEN","EWS","OBC-NCL","SC","ST"]; // Array to store labels
                const opening_rank_store = []; 
                const closing_rank_store = [];
            
                // Extract labels and values from the data
                for (const item of data) {
                    opening_rank_store.push(item.Opening_Rank);
                    closing_rank_store.push(item.Closing_Rank);   
                    
                }
                
                const ctx = document.getElementById('graphChart').getContext('2d');
                
                if (graphChart != null){
                    graphChart.destroy();
                }
                
                graphChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'opening rank',
                            data: opening_rank_store,
                            borderColor: 'rgba(255, 99, 132, 1)',
                            fill: false
                        },{
                            label: 'closing rank',
                            data: closing_rank_store,
                            borderColor: 'rgba(0, 0, 0, 1)',
                            fill: false
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        scales: {
                            y: {
                                display: true,
                                border: {
                                color: 'black', // Set the border color
                                width: 2 // Set the border width
                            },
                                ticks: {
                                    font: {
                                        size: 14 // Font size of y-axis labels
                                    }
                                },
                                title: {
                                    display: true,
                                    text: 'Category Rank',
                                    font: {
                                        size: 18, // Font size of y-axis title
                                        weight: 'bold'
                                    }
                                }
                            },
                            x: {
                                display: true,
                                border: {
                                    color: 'black', // Set the border color
                                    width: 2 // Set the border width
                                },
                                ticks: {
                                    font: {
                                        size: 14 // Font size of x-axis labels
                                    }
                                },
                                title: {
                                    display: true,
                                    text: 'Category',
                                    font: {
                                        size: 18, // Font size of x-axis title
                                        weight: 'bold'
                                    }
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 14 // Font size of legend labels
                                    },
                                    padding: 50
                                }
                            },
                            title: {
                                display: true,
                                text: 'Category Wise Graph',
                                font: {
                                    color: 'darkblue',
                                    size: 24, // Change this to adjust the title font size
                                    weight: 'bold',
                                    family: 'Arial'
                                },
                                padding: {
                                    top: 20,
                                    bottom: 20
                                }
                            }
                        },
                        layout: {
                            padding: {
                                top: 20,
                                right: 20,
                                bottom: 20,
                                left: 20
                            }
                        }
                    }
                });
                
            }
        </script>
    <div>
        <canvas id="graphChart" width="300" height="500"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.8.5/d3.min.js" integrity="sha512-M7nHCiNUOwFt6Us3r8alutZLm9qMt4s9951uo8jqO4UwJ1hziseL6O3ndFyigx6+LREfZqnhHxYjKRJ8ZQ69DQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
    

</body>

{% include "footer.html" %}