{% load static %}
{% include "header.html" %}

<body>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <main style="min-height: 62.5vh;">
        <section style="height: 100%;">
            <div id="contribute">
                <h2>The People Behind the Scenes!</h2>
            </div>
            <br>
            <!-- <p><strong>Contributors:</strong></p>
             -->
             <br>
            <div id="cards">
                <div class="card1">
                    <img src="{% static 'img/debabrata3.jpg' %}">
                    <div class="name">
                        <p>Debabrata Samanta</p>

                    </div>
                </div>
                <div class="card2">
                    <img src="{% static 'img/pratham1.jpg' %}">
                    <div class="name">
                        <p>Pratham Doiphode</p>

                        </div>
                </div>
                <div class="card3">
                    <img src="{% static 'img/priyanshu1.jpg' %}">
                    <div class="name">
                        <p>Priyanshu Kumar</p>
                    </div>
                </div>
                <div class="card4">
                    <img src="{% static 'img/sourish.jpg' %}">
                    <div class="name">
                        <p>Sourish Maity</p>
                    </div>
                </div>
            </div>

            <div id="details">
                <div class="name1">
                    
                        <p>Debabrata Samanta</p>
                        <!-- <a href="https://www.linkedin.com/company/coding-club-iitg/"><i class="fa-brands fa-linkedin"></i></a> -->

                  
                </div>
                <div class="name2">
                    
                        <p>Pratham Doiphode</p>

                        
                </div>
                <div class="name3">
                    
                        <p>Priyanshu Kumar</p>
                    
                </div>
                <div class="name4">
                    
                        <p>Sourish Maity</p>
                    
                </div>
            </div>

            <div id="linkedIn">
                <div class="l1">
                    
                        
                        <a href="https://www.linkedin.com/in/debabrata-samanta-321359288/"><i class="fa-brands fa-linkedin-in"></i></a>

                  
                </div>
                <div class="l2">
                    
                    <a href="https://www.linkedin.com/in/prathamdoiphode/"><i class="fa-brands fa-linkedin-in"></i></a>

                        
                </div>
                <div class="l3">
                    
                    <a href="https://www.linkedin.com/in/priyanshu-kumar-8525aa273/"><i class="fa-brands fa-linkedin-in"></i></a>
                    
                </div>
                <div class="l4">
                    
                    <a href="https://www.linkedin.com/in/sourish-maity-a7106127a/"><i class="fa-brands fa-linkedin-in"></i></a>
                    
                </div>
            </div>
            <!-- <ul>
                <li><a href="https://www.linkedin.com/in/debabrata-samanta-321359288/" class="contributor">Debabrata Samanta</a>, MSc Mathematics’25</li>
                <li><a href="https://www.linkedin.com/in/prathamdoiphode/" class="contributor">Pratham Doiphode</a>, MSc Mathematics and Computing’25</li>
                <li><a href="https://www.linkedin.com/in/priyanshu-kumar-8525aa273/" class="contributor">Priyanshu Kumar</a>, MSc Mathematics’25</li>
                <li><a href="https://www.linkedin.com/feed/" class="contributor">Sourish Maity</a>, MSc Mathematics and Computing’25</li>
            </ul> -->
        </section>
    </main>
</body>

{% include "footer.html" %}