<footer>
  
  <div class="f-info">
    <div class="f-info-socials">
      <a href="https://www.iitg.ac.in/stud/gymkhana/technical/home/CodingHome.html"><i class="fa-brands fa-google" ></i></a>
      <a href="https://www.linkedin.com/company/coding-club-iitg/"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://codingiitg.github.io/"><i class="fa-brands fa-github" ></i></a>
      <a href="https://www.instagram.com/codingclubiitg?igsh=MTEzdWF6a3lwZjNpZQ=="><i class="fa-brands fa-instagram" ></i></a>
    </div>
    <div class="f-info-brand">Coding Club, IIT Guwahati</div>

    <div class="f-info-links">
      <a href="https://josaa.nic.in/">Joint Seat Allocation Authority (JoSAA) | India</a>
      <!-- <a href="/terms">Terms and Conditions</a> -->
    </div>
  </div>
</footer>
