{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inner Page</title>
    <!-- <img src="{% static 'img/centre.png' %}" alt="Center Image" class="center-image"> -->
    <link rel="stylesheet" href="{% static 'css/innerpage.css' %}">
</head>
<body>
     <h2> <a href="home.com"> &#x1F3E0; Home</a></h2> 
     <hr>
     <div id="outer"><h4>Opening and Closing Ranks</h4>
      <form action="/action" > 

        <div class="inner">
            <label for="Round No" class="lhs">Round No: </label>
            <select name="Round No" id="Round No">
                <option id="main">Select an Option</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
        
            </select>
    </div>

    <div class="inner">
        <label for="Institute Type" class="lhs">Institute Type: </label>
            <select name="Institute Type" id="Institute Type">
                <option>Select an Option</option>
                <option value="IIT">IIT</option>
                <option value="NIT">NIT</option>
                <option value="IIIT">IIIT</option>
                <!-- <option value="Australia">Australia</option>
                <option value="Germany">Germany</option> -->
        
            </select>
    </div>

    <div class="inner">
        <label for="Institute Name" class="lhs">Institute Name: </label>
            <select name="Institute Name" id="Institute Name">
                <option>Select an Option</option>
                <option value="IITB">India</option>
                <option value="">USA</option>
                <option value="UK">UK</option>
                <option value="Australia">Australia</option>
                <option value="Germany">Germany</option>
        
            </select>
    </div>

    <div class="inner">
        <label for="Academic Program" class="lhs">Academic Program: </label>
            <select name="Academic Program" id="Academic Program">
                <option>Select an Option</option>
                <option value="Ind">India</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="Australia">Australia</option>
                <option value="Germany">Germany</option>
        
            </select>
    </div>

    <div class="inner">
        <label for="Category" class="lhs">Category: </label>
            <select name="Category" id="Category">
                <option>Select an Option</option>
                <option value="">India</option>
                <option value="USA">USA</option>
                <option value="UK">UK</option>
                <option value="Australia">Australia</option>
                <option value="Germany">Germany</option>
        
            </select>
    </div>
<div class="inner">
        <button id="button">Submit</button>
    </div>
</form>
    </div>
</body>
</html>