        <section class="footersec">
            <div class="container footersec">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="copyRights">
                            <div class="disclaimerText">
                                <p>
                                    This site is designed and hosted by NIC and the contents are provided by JoSAA.
                                    <br>
                                    For any further information, please contact JoSAA.
                                </p>
                            </div>

                            <div class="disclaimerLogo">
                                <a href="https://ecounselling.nic.in/" onclick="return confirm('You are being redirected to an external website. ');" title="https://s3waas.gov.in/" target="_blank">
                                    <img src="../Images/footerLogo/ecounselling.png" alt="e-Counselling">
                                    ::after
                                </a>
                                <a href="http://www.nic.in/" onclick="return confirm('You are being redirected to an external website. ');" title="http://www.nic.in/" target="_blank">
                                    <img src="../Images/footerLogo/nicLogo.png" alt="National Informatics Centre">
                                    ::after
                                </a>
                                <a href="http://www.digitalindia.gov.in/" onclick="return confirm('You are being redirected to an external website. ');" title="http://www.digitalindia.gov.in/" target="_blank">
                                    <img src="../Images/footerLogo/digitalIndia.png" alt="Digital India">
                                    ::after
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
 </html>