{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JoSAA</title>
    <link rel="stylesheet" href="{% static 'page1/main.css' %}" />
  </head>
  <body style="background-color: wheat">
    <header>
      <h1>
        <span> HoMe PaGe oF JoSAa PoRTaL </span>
        <button id="latestnews">LATEST NEWS</button>
        <button id="news">NEWS</button>
      </h1>
      <div>
        <img src="JOSAA.webp" alt="RandomImage" height="550" width="510" />
      </div>
    </header>

    <hr />
    <h4>
      For more information, visit
      <a href="https://josaa.nic.in/">JoSAA.</a>
    </h4>
    <hr/>
    <br><br>
    
    <div class="padding-example" >
    
        <div class="rectangle" style="width : 100%;"> Analyse more popular branches 
            <p class="info"> which branches are getting more popular </p>
            <div class="b_h"> <a href="Branch.html">Get Started --> </a> </div>
            <hr/>
        </div>
    </div>

    <div class="padding-example-2">
    		
        <div class="rectangle"> Analyse trends based on years
            
            <p class="info">What is the flow of students among the IITs over the years</p>
                <div class="b_h"> <a href="YearWise.html">Get Started --></a> </div>
                <hr/>
        </div>
        <div class="rectangle"> Analyse trends based on Round
            <p class="info">Analyze trends based on round-wise cutoffs for years</p>
                <div class="b_h"> <a href="Roundwise.html">Get Started --></a> </div>
                <hr/>
        </div>
    
    </div>
      

    <hr />
    <section>
      <h3>Made with &hearts; by</h3>
      <ol>
        <li>
          <a href="https://www.linkedin.com/in/debabrata-samanta-321359288/"
            >Debabrata Samanta</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/prathamdoiphode/"
            >Pratham Doiphode</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/priyanshu-kumar-8525aa273/"
            >Priyanshu Kumar</a
          >
        </li>
        <li>
          <a href="https://www.linkedin.com/in/sourish-maity-a7106127a/"
            >Sourish Maity</a
          >
        </li>
      </ol>
    </section>
  </body>
</html>
