body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

main {
    padding: 2rem 1rem;
    max-width: 900px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
}

section h2 {
    font-size: 1.8rem;
    color: #004d99;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: disc;
    margin: 0;
    padding-left: 1.5rem;
}

ul li {
    margin-bottom: 0.5rem;
}

ul li a.contributor {
    color: #004d99;
    text-decoration: none;
    font-weight: bold;
}

ul li a.contributor:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #f6f7f9;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section {
    width: 70%;
    padding: 0;
}

.footer-section.thank-you {
    background-color: #004d99;
}

.footer-section:not(.thank-you) {
    background-color: #004d99;
    margin-top: 0.5rem;
}