#home-body .image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 9rem;
  padding: 10px;
  border-bottom: 4px solid #0f1035;
}

/* #home-body .image-container .right-image{

} */

#home-body .image-container img {
  height: 5rem;
}

#home-body .left-image {
  width: 7rem;
}

#home-body .center-image {
  width: 50%;
}

/* #home-body .right-image {
  width: 5%;
  
} */

#home-body .container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  height: 20vh;
  text-align: center;
}
#home-body h1 {
  /* height: 1rem;
  width: 1rem;
  border: 0.2 rem solid #007BFF;
  border-radius: 0.5rem;
  box-shadow: 1rem 1rem 2rem #0F1035; */
  display: flex;
  color: #0f1035;
  padding: 1rem;
  margin-bottom: 4rem;
  border: groove 0.6rem #2818a3;
  border-radius: 0.5rem;
  box-shadow: inset 0 -3rem 1rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
    0.3em 0.3em 0.4em #ffc825d6;
}

#home-body .topic {
  text-align: center;
}

#home-body .circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

#home-body .topic h2 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
  transition: color 0.3s;
}

#home-body .topic h2:hover {
  color: #007bff;
}

#home-body a {
  text-decoration: none;
  color: inherit;
}

#home-body .container1 {
  display: flex;
  justify-content: space-around;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
}

#home-body .container2 {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  padding: 1rem;
}

#home-body .container3 {
  display: flex;
  justify-content: space-around;
  margin: 1rem 1rem 2rem 1rem;
  padding: 1rem;
}

#home-body .container1 .roundwise {
  text-align: center;
  padding: 0.5rem;
  height: 11rem;
  width: 33rem;
  border: dashed #0f1035;
  border-width: 2px 4px;
  border-radius: 40px;
  transition: 0.5s;
}

#home-body .container1 .roundwise:hover{
  box-shadow: inset 0 -7rem 4rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
  0.5em 0.5em 0.5em #ffc825d6;
}

#home-body .container1 .yearwise {
  text-align: center;
  padding: 0.5rem;
  height: 11rem;
  width: 33rem;
  border: dashed #0f1035;
  border-width: 2px 4px;
  border-radius: 40px;
  transition: 0.5s;
}

#home-body .container1 .yearwise:hover{
  box-shadow: inset 0 -7rem 4rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
  0.5em 0.5em 0.5em #ffc825d6;
}

#home-body .container2 .categorywise {
  text-align: center;
  padding: 0.5rem;
  height: 11rem;
  width: 33rem;
  border: dashed #0f1035;
  border-width: 2px 4px;
  border-radius: 40px;
  transition: 0.5s;
}

#home-body .container2 .categorywise:hover{
  box-shadow: inset 0 -7rem 4rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
  0.5em 0.5em 0.5em #ffc825d6;
}

#home-body .container2 .top20 {
  text-align: center;
  padding: 0.5rem;
  height: 11rem;
  width: 33rem;
  border: dashed #0f1035;
  border-width: 2px 4px;
  border-radius: 40px;
  transition: 0.5s;
}

#home-body .container2 .top20:hover{
  box-shadow: inset 0 -7rem 4rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
  0.5em 0.5em 0.5em #ffc825d6;
}

#home-body .container3 .course {
  text-align: center;
  padding: 0.5rem;
  height: 11rem;
  width: 33rem;
  border: dashed #0f1035;
  border-width: 2px 4px;
  border-radius: 40px;
  transition: 0.5s;
}

#home-body .container3 .course:hover{
  box-shadow: inset 0 -7rem 4rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
  0.5em 0.5em 0.5em #ffc825d6;
}

#home-body .container3 .best {
  text-align: center;
  padding: 0.5rem;
  height: 11rem;
  width: 33rem;
  border: dashed #0f1035;
  border-width: 2px 4px;
  border-radius: 40px;
  transition: 0.5s;
}

#home-body .container3 .best:hover{
  box-shadow: inset 0 -7rem 4rem rgb(0 200 163 / 64%), 0 0 0 3px #fffffff0,
  0.5em 0.5em 0.5em #ffc825d6;
}
#home-body h2:hover{
  color: #007bff; 
}