/* h2{
    background-color: black;
    color: white;
    font-family: sans-serif;
    padding: 8px 10px;
}

a{
    text-decoration: none;
    color: white;
    
} */

#outer{
    height: 430px;
    width: 900px;
    background-color: lightcyan;
    border-radius: 20px;
    margin: 40px;
    padding: 0px 10px 10px 10px;
    border: 3px solid black;
    justify-content: space-around;
    align-items: center;
    text-align: center;

}

#outer h4{
    
    
    padding: 0px 0px 7px 0px;
    border-bottom: 1px solid blue;
    margin-top: 5px;
    margin-bottom: 5px;
    
    color: #0e5799;
}

#outer button{
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    text-align: center;

}

#outer .inner{
    text-align: center;
    margin: 40px;
}

#outer .lhs{
    font-family: Georgia, 'Times New Roman', Times, serif;
}