/* for roundwise question */
#roundwise {
  height: 350px;
  /* width: 1200px; */
  background-color: #7fc7d9;
  border-radius: 10px 40px;
  margin: 40px;
  padding: 0px 5px 5px 5px;

  justify-content: space-around;
  align-items: center;
  text-align: center;

  border: thick double #0f1035;
}

#roundwise h4 {
  padding: 3px 0px 10px 0px;
  border-bottom: 2px solid rgb(29, 150, 171);
  margin-top: 5px;
  margin-bottom: 0;

  font-size: 34px;

  font-family: math;

  color: #0f1035;
}

.inner {
  text-align: center;
  margin: 20px;
}

.lhs {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
}

#button {
  color: #fff;
  background-color: #3079e7;
  border-color: #042b67;
  text-align: center;
}
#button:hover {
  background-color: #151e92;
}

/* for yearwise question */
#yearwise {
  height: 350px;

  background-color: #7fc7d9;

  border: thick double #0f1035;

  border-radius: 10px 40px;
  margin: 40px;
  padding: 0px 5px 5px 5px;

  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#yearwise h4 {
  font-family: math;
  padding: 3px 0px 10px 0px;
  border-bottom: 2px solid rgb(29, 150, 171);
  margin-top: 5px;
  margin-bottom: 0;
  color: #0f1035;
  font-size: 34px;
}

/* for yeardwise table */
#yearwise_table {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
#yearwise_table .result-table {
  width: 85%;
  border-collapse: collapse;
  border: groove 1rem #2818a3;
}

/* This is common part for all table */
.result-table th,
.result-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 2px solid #333;
}

.result-table th {
  background-color: #7FC7D9;
  font-weight: bold;
  border-right: 2px solid #333;
  font-size: 20px;
}

/* Add thicker border between rows */
.result-table tr {
  border-bottom: 2px solid #333;
}

/* Remove right border for the last cell in each row */
.result-table tr td:last-child {
  border-right: none;
}

.result-table th:last-child {
  border-right: none;
}

.result-table tr:last-child td {
  border-bottom: none;
}

/* for roundwise table */

#roundwise_table {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
#roundwise_table .result-table {
  width: 85%;
  border-collapse: collapse;
  border: groove 1rem #2818a3;
}

/* for bestcourse question */
#best_course {
  display: flex;
  padding-left: 170px;
  padding-right: 100px;
  height: 200px;
  justify-content: space-around;
  margin: 4rem 1rem 0 1rem;
}

.rectangle {
  display: inline-block;
    border: 1px solid rgb(29 135 4);
    margin-bottom: 10px;
    margin-right: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: #5bff002b;
    font-size: 30px;
    text-align: center;
     width: 380px;
}

.dropdown {
  height: 25px;
  width: auto;
  font-size: 20px;
}
#message {
  font-size: 35px;
    /* padding: 10rem; */
    /* margin-top: 10rem; */
    color: red;
    text-align: center;
}
#submitButton {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  margin-top: 2rem;
cursor: pointer;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(0, 220, 0, 1);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow:
    inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#submitButton:hover {
  background-color: rgba(0, 255, 0, 1);
}

#submitButton:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/* for table of best couses */
#institute_table {
  height: 100%;
  margin: 5rem auto;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
#institute_table .result-table {
  width: 85%;
  border-collapse: collapse;
  border: groove 1rem #2818a3;
}

/* for popular college */
#popularcollege {
  height: 350px;
  width: 1200px;
  background-color: rgb(118, 180, 71);
  border-radius: 20px;
  margin: 40px;
  padding: 0px 5px 5px 5px;
  border: 3px solid black;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#popularcollege h4 {
  padding: 3px 0px 10px 0px;
  border-bottom: 2px solid blue;
  margin-top: 5px;
  margin-bottom: 0;
  color: #d60909;
  font-size: 34px;
}
/* for table of best college  */
#Institutewise_table {
  height: 100%;
  margin-top: 15rem;
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
}
#Institutewise_table .result-table {
  margin-top: 5rem;
  width: 85%;
  border-collapse: collapse;
  border: groove 1rem #2818a3;
}

/* for bestcollege question */
#bestcollege {
  display: flex;
  flex-wrap: wrap;
  padding-left: 170px;
  padding-right: 100px;
  height: 200px;
  justify-content: space-around;
}

/* #ProgrammeNameDropdown{
  width: 500px;
} */
#bestcollege .rectangle {
  display: inline-block;
  /* border: 1px solid #9ab761; */
  /* margin: 20px 0 0 0; */
  margin-top: 4rem;
  margin-bottom: 10px;
  margin-right: 50px;
  border-radius: 10px;
  padding: 10px;
  /* background-color: #f0f0f0; */
  font-size: 30px;
  text-align: center;
  width: auto;
}

/* for iit vs nit question */

#middile_section {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 35vh; /* Full viewport height */
  margin: 0;
  flex-direction: column;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}
#YearDropdown {
  margin-bottom: 2px; /* Small space between Year dropdown and Programme dropdown */
}

#IIT_Vs_NIT select {
  width: 250px;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
#left_right_section {
  padding: 0px 0;
  max-width: 1250px;
  margin: 0 auto;
  display: flex; /* Make the container a flex container */
  justify-content: space-between; /* Distribute items evenly along the main-axis (horizontally) */
  height: 40vh;
}
#submitOption {
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 3rem;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 220, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#submitOption:hover {
  background-color: rgba(0, 255, 0, 1);
}

#submitOption:active {
  box-shadow:
    inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#IIT_Vs_NIT .side_section {
  margin-bottom: 20px;
  width: 45%; /* Set width for each form section */
  display: flex;
  flex-direction: column;
  align-items: center;
}
#IIT_Vs_NIT h2 {
  margin-bottom: 20px; /* Increase spacing below heading */
  font-size: 30px;
}
#IIT_Vs_NIT label {
  display: block;
  margin-bottom: 5px; /* Increase spacing below label */
}
/* for side side two graph */
#chart-graph {
  display: flex;
  justify-content: space-around;
}
#chart-graph .graph {
  width: 45%; /* Adjust this percentage as needed */
  /* max-width: 400px;  /* Optional: set a maximum width */
  /* height: 500px; */
}
#chart_A,
#chart_B {
  width: 100%; /* Adjust width as needed */
  height: 500px; /* Adjust this value to increase the height */
  /* height: auto; */
}

#heading h1 {
  /* line-height: 2rem; */
  font-family: math;
  text-align: center;
  padding: 3px 0px 10px 0px;
  border-bottom: 2px solid rgb(29, 150, 171);
  margin-top: 1rem;
  margin-bottom: 0;
  text-shadow: 1px 1px 2px #5bff00;
  font-size: 34px;

  color: #0f1035;
}
